.logoRef {
    height: 6vh;
    width: 6vh;
}


.footer {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;

}

.ppp{
    margin-left: 7vw;
    margin-right: 15vw;
}
.contactInfo {
    margin-top: -10vh;
    font-size: 22px;
    vertical-align: middle;
    margin-right: 10vw;

}