.logo {
    margin-top: -1vh;
    margin-left: 2.5vw;
    width: 8vw;
    min-width: 100px;
}

.mainTitleBox {
    width: 100%;
    height: 14vh;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.mainTitle {
    font-size: 6vh;
    font-weight: normal;
    color: #B40028;
    text-align: center;
    vertical-align: middle;
    line-height: 10vh;
    width: 50vw;
    height: 10vh;
    background: #F7E3EE;
    border-radius: 20px 20px 20px 20px;
    font-family: Arial, serif;
}


@media screen and (max-width: 768px) {
    .mainTitle {
        font-size: 4vh;
        font-weight: normal;
        color: #B40028;
        text-align: center;
        vertical-align: middle;
        line-height: 10vh;
    }

}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F7E3EE;
    min-width: 9vw;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2;
}


#menu{
    background-color:  #E1F3F7;
    color: #B40028;
    font-size: 8vh;
    border: none;
    margin: 50px 70px 20px 30px;
}



.mainDescription {
    font-style: italic;
    color: #670201;
    text-align: center;
    vertical-align: middle;
    margin-top: -9vh;
}

