.main-title-box__logo {
    margin-top: -1vh;
    margin-left: 2.5vw;
    width: 8vw;
    min-width: 100px;
}

.main-title-box {
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.main-title-box__title {
    font-size: 6vh;
    font-weight: normal;
    color: #B40028;
    text-align: center;
    vertical-align: middle;
    line-height: 10vh;
    width: 50vw;
    height: 10vh;
    background: #F7E3EE;
    border-radius: 20px 20px 20px 20px;
    font-family: Arial, serif;
}


@media screen and (max-width: 768px) {
    .main-title-box__title {
        font-size: 3vh;
        font-weight: normal;
        color: #B40028;
        text-align: center;
        vertical-align: middle;
        line-height: 10vh;
    }

}

.main-title-box__menu {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}

.main-title-box__menu__menu-item {
    display: none;
    position: absolute;
    background-color: #F7E3EE;
    min-width: 9vw;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2;
}


.main-title-box__menu__icon{
    cursor: pointer;
    background-color:  #0000;
    color: #B40028;
    font-size: 8vh;
    border: none;
    margin: 50px 70px 20px 30px;
}


.main-title-box__menu__menu-item a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.main-title-box__menu__menu-item a:hover {
    background-color: #ddd;
}

.main-title-box__menu__menu-item__tab{
}

.main-title-box__menu__menu-item__tab.active{
    background-color: #E8B6C2;
}

.main-title-box__menu__menu-item.open {
    display: block;
}

