.mainFields{
    margin-left: auto;
    margin-right: auto;
    width: 45vw;
    height: auto;
    background: #F7E3EE;
    border-radius: 20px;
    overflow: auto;
    padding-bottom:2vh;
}

.input-form {
    column-count: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F7E3EE;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 45vw;
    height: 91vh;
    flex-wrap: wrap;
    min-width: 400px;
    overflow: auto;
}

.input-form label {
    margin-top: 5vh;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: auto;
}

.input-form input {
    font-family: 'Courier New', monospace;
    font-size: larger;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 1.5vw;
    border-radius: 20px;
    min-width: 180px;
}

.tarotCards {
    display: flex;
    width: 43vw;
    margin: 0 auto;
    margin-top: 3vh;
    min-width: 300px;

}

.determineButton {
    width: 30vw;
    height: 8vh;
    background: #E8B6C2;
    border-radius: 20px 20px 20px 20px;
    border: 0;
    color: #670201;
    font-size: 2.2vw;
    margin: 0 auto;
    display: block;
}

.description {
    font-style: italic;
    font-size: 20px;
    color: #670201;
    width: 40vw;
    height: 10%;
    margin-left: 2.5vw;
    margin-top: 5vh;
    text-align: center;
    vertical-align: middle;
    background-color: #E1F3F7;
    border-radius: 10px;
    padding: 5px;
    word-wrap: break-word;
    bottom: -18vh;

    border: solid rgba(0,0,0,0.5) ;
}


input {
    background: #E8B6C2;
    border-radius: 20px;
    width: 15vw;
    height: 7vh;
    border: 0;
    display: block;
    flex-direction: column;
    <!-- margin-bottom: 10vh;
    margin-left: 5vh;
    margin-top: 1vh;-->

}



label {

    margin-left: 40px;
    color: #670201;
    opacity: .7;
    font-size: 25px;
}

main{
    padding-top: 8vh;
    column-count: 2;
    margin-bottom: 30vh;
}




@media screen and (max-width: 868px) {
    main{
        padding-top: 5vh;
        column-count: 1;
    }

    .mainFields{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        background: #F7E3EE;
        border-radius: 20px;
        margin-bottom: 7vh;
        height: auto;
    }
    .input-form{
        margin: 0 auto;
        width: 80%;
        height: 80vh;
        background: #F7E3EE;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;

    }

    .description{
        width: 90%;
        margin-left: 4%;
        text-align: center;
        top:auto;
        bottom: auto;
    };
}