.table-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Автоматическое подгонка колонок */
    gap: 10px;
    margin-bottom: 30vh;
}

.table-header {
    background-color: #f0f0f0;
    font-weight: bold;
    padding: 10px;
}

.table-cell:nth-child(even) {
    background-color: #f5f5f5;
}

.table-cell:nth-child(odd) {
    background-color: #fff;
}

.table-cell {
    padding: 8px;
    border: 1px solid #ddd;
}

